@import './variables';
@import './../assets/font/font.css';

body {
  background-color: #EEEEEE;
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: $black;
}

main {
  margin: 60px 138px;
}

button {
  border-radius: 4px;
  margin: 0 $margin-sm;
  border: 0;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  padding: 20px 31px;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $white;

  &:hover {
    background-color: $hover-color;
    border: 1px solid $hover-color;
  }
}

.disabled {
  border: 1px solid $disabled;
  color: $disabled;
}

input {
  font-style: normal;
  border: none;
  background-color: transparent;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

hr {
  border: 0.5px solid $black;
}