@import '../../src/style/variables';

.timer {
  &__form {
    font-weight: 600;
    color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      font-weight: 600;
      font-size: 120px;
      line-height: 146px;
      color: $black;
      font-family: Proxima Nova, sans-serif;
      width: auto;
    }

    input[type=number] {
      width: 150px;
    }
  }

  &__value {
    font-size: 120px;
    line-height: 146px;
    display: flex;
  }

  &__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__new {
    display: flex;
    align-items: center;
    text-decoration: underline;

    &:hover{
      color: $primary-color;
      cursor: pointer;
    }
  }

  &__remove{
    color: $error;
    display: flex;
    align-items: center;
    path{
      stroke: $error;
    }

    &:hover{
      color: $error-hover;
      cursor: pointer;
      path{
        stroke: $error-hover;
      }
    }
  }
}